<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Registration</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
		integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
		integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
		crossorigin="anonymous"></script>

	<script>

		// Function to check Whether both passwords
		// is same or not.
		function checkPassword(form) {
			console.log("test");
			password1 = form.password.value;
			password2 = form.confPassword.value;
			if (password1 != password2) {
				alert("\nPassword did not match: Please try again...")
				return false;
			}

			return true;
		}
	</script>


</head>

<body>

	<div class="row">
		<div class="col-md-12 bg-light text-right">
			<button type="button" class="btn"><a href="./"> Home </a></button>
			<button type="button" class="btn ml-2"><a href="signin"> Sign In</a></button>
		</div>
	</div>

	<div class="container-fluid h-100">
		<div class="row justify-content-center align-items-center h-100">
			<div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
				<div class="alert alert-danger" th:if="${error}" role="alert">
					<span th:text="${error}"></span>
				</div>
				<div>
					<h3 style="text-align: center">User Registration</h3>
				</div>
				<form action="customer/register" method="post" onSubmit="return checkPassword(this);">

					<div class="form-group">
						<input type="text" class="form-control form-control-lg" id="userid" name="userid"
							placeholder="Enter User Id">
					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-lg" id="name" name="name"
							placeholder="Enter Name">

					</div>
					<div class="form-group">
						<input type="email" class="form-control form-control-lg" id="mail" name="mail"
							placeholder="Enter Mail">
					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-lg" id="mobileNo" name="mobileNo"
							placeholder="Enter Mobile Number">

					</div>
					<div class="form-group">
						<input type="text" class="form-control form-control-lg" id="city" name="city"
							placeholder="Enter City">
					</div>
					<div class="form-group">
						<input type="password" class="form-control form-control-lg" id="password" name="password"
							placeholder="Enter Password">
					</div>
					<div class="form-group">
						<input type="password" class="form-control form-control-lg" id="confPassword"
							name="confPassword" placeholder="Enter Confirm Password">
					</div>
					<div class="form-group">
						<button class="btn btn-info btn-lg btn-block">Sign Up</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>

</html>